
<div class="row" style="position: initial; z-index: 999; display: block;">
  <div class="col">
    <div class="">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" 
               *ngFor="let img of carrousel; index as i"
               [ngClass]="{'active': i == activeImage}">
            <img class="crs-image" src="assets/Imagenes/anuncios/{{img}}" alt="First slide">
          </div>
        </div>
        <a class="carousel-control-prev text-dark" role="button" data-slide="prev" (click)="imgPrev()">
          <
        </a>
        <a class="carousel-control-next" role="button" data-slide="next" (click)="imgNext()">
          >
        </a>
      </div>
    </div>
    

  </div>
</div>

<div class="row">
  <div class="col">

    <div class="mt-5">
      <div class="size">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <img src="assets/Imagenes/duroVertical.jfif" alt="TurismoRD" class="img-fluid">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="text">
                  <div class="text-title">
                    <h1>BIENVENIDOS AL SITIO OFICIAL<span> DE TURISMO DE REPÚBLICA DOMINICANA.</span></h1>
                  </div>
                  <br> 
                  <h4>Descripcion del país</h4>
                  <div class="text-body">
                    <p>República Dominicana es el segundo país más grande y más diverso del Caribe. Con vuelos directos desde las principales ciudades de Latinoamérica, Estados Unidos, Canadá y Europa es un país que se destaca por la calidez de su clima y la hospitalidad de su gente. República Dominicana es un destino sin igual que cuenta con una naturaleza extraordinaria, fascinante historia y gran riqueza cultural.</p>
                    <p>Rodeada por el Océano Atlántico hacia el Norte y el Mar Caribe hacia el Sur, República Dominicana se enorgullece de contar con más de 1,600 Km. de costa y 400 Km. de las mejores playas del mundo, magníficos hoteles y resorts, e infinidad de opciones en deportes, entretenimiento y recreación. Aquí puedes bailar al ritmo contagioso del merengue, renovarte en nuestros lujosos y variados hoteles, explorar antiguas ruinas,  deleitarte con la mejor gastronomía dominicana, o vivir aventuras ecoturísticas en nuestros magníficos parques naturales, cordilleras, ríos y playas.</p>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
    

  </div>
</div>
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>



  <!-- Page Content -->

