    <div class="carrusel">
       <ngb-carousel>
           <ng-template ngbSlide *ngFor="let n of carrousel">
               <div class="picsum-img-wrapper" >
                   <img src="../../../assets/Imagenes/Anuncios/{{n}}" alt="{{n}}" style="width:100%; height:700px">
               </div>
               <div class="carousel-caption" >
                   <h3 class="titulo-carrusel" style="font-weight: 900;">{{n}}</h3>
                   <p class="titulo-carrusel">{{n}}</p>
               </div>
           </ng-template>
       </ngb-carousel>
   </div>

  <div class="about-section-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="assets/Imagenes/duroVertical.jfif" alt="TurismoRD" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="inner-column">
                    <h1>BIENVENIDOS AL SITIO OFICIAL<span> DE TURISMO DE REPÚBLICA DOMINICANA.</span></h1>
                    <br>
                    <h4>Descripcion del país</h4>
                    <p>República Dominicana es el segundo país más grande y más diverso del Caribe. Con vuelos directos desde las principales ciudades de Latinoamérica, Estados Unidos, Canadá y Europa es un país que se destaca por la calidez de su clima y la hospitalidad de su gente. República Dominicana es un destino sin igual que cuenta con una naturaleza extraordinaria, fascinante historia y gran riqueza cultural.</p>
  
                    <p>Rodeada por el Océano Atlántico hacia el Norte y el Mar Caribe hacia el Sur, República Dominicana se enorgullece de contar con más de 1,600 Km. de costa y 400 Km. de las mejores playas del mundo, magníficos hoteles y resorts, e infinidad de opciones en deportes, entretenimiento y recreación. Aquí puedes bailar al ritmo contagioso del merengue, renovarte en nuestros lujosos y variados hoteles, explorar antiguas ruinas,  deleitarte con la mejor gastronomía dominicana, o vivir aventuras ecoturísticas en nuestros magníficos parques naturales, cordilleras, ríos y playas.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
  
      
  
  <!-- Page Content -->
  