<div class="container">
  <a class="btn flex-button" (click)="change1()"><i class="fa fa-circle-plus">Agregar</i></a>
  <div class="card table-card shadow" style="margin-top:80px;" *ngIf="!loading">
    <div class="card-body">
      <table class="table table-borderless table-striped text-center">
        <thead class="head">
          <tr>
            <th>Destino</th>
            <th>Region</th>
            <th>Descripcion</th>
            <th>Foto</th>
            <th colspan="2">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="Datos.length == 0">
            <td colspan="5">
              <h2 class="text-danger">
                <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i>
                No hay destinos registrados
              </h2>
            </td>
          </tr>

          <tr *ngFor="let db of Datos">
            <td>{{ db.destino }}</td>
            <td>{{ db.region }}</td>
            <td>{{ db.descripcion }}</td>
            <td><img class="img-peque" [src]=db.foto></td>
            <td>
              <button class="btn btn-sm" (click)="deleteTurismo(db.id)">
                <i class="fa fa-trash text-danger" title="Borrar destino"></i>
              </button>
              <button class="btn btn-sm mx-2" (click)="change2(db)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa fa-edit text-primary" title="Editar ticket"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>Editar destino</h1>
        <div [formGroup]="editForm">
            <input type="text"
                    class="form-control"
                    formControlName="destino"
                    style="margin-bottom: 10px;"
                    >


            <select formControlName="region" class="form-control" style="margin-bottom: 10px;">
              <option *ngFor="let amb of regiones" [ngValue]="amb.name">{{amb.name}}</option>
            </select>


            <input type="text"
                  class="form-control"
                  formControlName="descripcion"
                  style="margin-bottom: 10px;"
                 >


            <input type="text"
                    class="form-control"
                    formControlName="foto"
                    style="margin-bottom: 10px;"
                    >

        </div>
        <div class="alert alert-success" role="alert" *ngIf="ok">
          Se actualizo el destino correctamente!
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateForm()">Save changes</button>
      </div>
    </div>
  </div>
</div>

  <div *ngIf="validatecreate">
    <div class="box" style="margin-top:30px;padding-right:5px;">
      <button class="btn text-primary" (click)="addForm()" style="margin-right: 30px;">
        <span class="text-primary font2">Nuevo Destino </span><i class="fa-solid fa-file-circle-plus text-primary icono"></i>
      </button>
    </div>
    <table class="table table-borderless" style="margin-bottom:30px;">
      <thead>
        <tr>
          <th>Destino</th>
          <th>Regiones</th>
          <th>Descripcion</th>
          <th>Foto</th>
        </tr>
      </thead>
      <tbody [formGroup]="form" *ngFor="let form of ticketForms; index as i" class="ticketForm">
        <tr>
          <td>
            <input type="text"
                    class="form-control"
                    formControlName="destino"
                    [ngClass]="{ 'border-danger': hasError('destino', 'required', form)}">
          </td>
          <td>
            <select formControlName="region" class="form-control" [ngClass]="{ 'border-danger': hasError('region', 'required', form)}">
              <option *ngFor="let amb of regiones" [ngValue]="amb.name">{{amb.name}}</option>
            </select>
          </td>
          <td>
            <input type="text"
                  class="form-control"
                  formControlName="descripcion"
                  [ngClass]="{ 'border-danger': hasError('descripcion', 'required', form)}">
          </td>
          <td>
            <input type="text"
                    class="form-control"
                    formControlName="foto"
                    [ngClass]="{ 'border-danger': hasError('foto', 'required', form)}">
          </td>
          <td>
            <button class="btn btn-sm border-0" [disabled]="ticketForms.length == 1 && !loading" (click)="removeForm(i)">
              <i class="fa fa-times text-danger fa-2x" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-sm btn-primary text-white" (click)="submit()" [disabled]="formsValid" >
      Enviar
      <i class="fa-regular fa-paper-plane"></i>
    </button>
  </div>


  <div *ngIf="validateedit">
    <table class="table table-borderless" style="margin-top:40px;">
      <thead>
        <tr>
          <th>Destino</th>
          <th>Regiones</th>
          <th>Descripcion</th>
          <th>Foto</th>
        </tr>
      </thead>
      <tbody [formGroup]="form" *ngFor="let form of ticketForms; index as i" class="ticketForm">
        <tr>
          <td>
            <input type="text"
                    class="form-control"
                    formControlName="destino"
                    [ngClass]="{ 'border-danger': hasError('destino', 'required', form)}">
          </td>
          <td>
            <select formControlName="region" class="form-control" [ngClass]="{ 'border-danger': hasError('region', 'required', form)}">
              <option *ngFor="let amb of regiones" [ngValue]="amb.name">{{amb.name}}</option>
            </select>

          </td>
          <td>
            <input type="text"
                  class="form-control"
                  formControlName="descripcion"
                  [ngClass]="{ 'border-danger': hasError('descripcion', 'required', form)}">
          </td>
          <td>
            <input type="text"
                    class="form-control"
                    formControlName="foto"
                    [ngClass]="{ 'border-danger': hasError('foto', 'required', form)}">
          </td>
          <td>
            <button class="btn btn-sm border-0" [disabled]="ticketForms.length == 1 && !loading" (click)="removeForm(i)">
              <i class="fa fa-times text-danger fa-2x" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

      <button class="btn btn-sm btn-primary text-white" style="margin-right:7%;" (click)="submitEdit()" [disabled]="formsValid" >
      Editar
      <i class="fa-regular fa-paper-plane"></i>
      </button>
  </div>
</div>
