@page "/admin"
@*
@using Microsoft.AspNetCore.Mvc
@using Microsoft.Extensions.Logging
@using RestSharp
@inject ILogger<addModelDTO> Logger

<PageTitle>Administracion</PageTitle>

<div class="menu-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
				    <h2>Administracion de Pagina</h2>
                </div>
            </div>
	    </div>

        <EditForm Model="@_addmodel" OnSubmit="Enviar" class="w3-container" >
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="Name">Nombre de Destino</label>
                <InputTextArea class="w3-input" id="Name" @bind-Value="_addmodel.name" rows="1"/>
            </div>
            <br><br>
            <div class="form-group">
                <label>Region</label>
                <InputSelect id="Region" @bind-Value="_addmodel.region">
                    <option disabled selected>Escoge...</option>
                    <option value="Norte">Norte</option>
                    <option value="Sur">Sur</option>
                    <option value="Este">Este</option>
                </InputSelect>
                ||
                <label for="Foto">Foto</label>
                <InputFile class="form-control-file" id="Foto" @bind-Value="_addmodel.foto"/>
                <br><br>
            </div>
            <br><br>
            <div class="form-group" >
                <label for="Descripcion">Descripcion</label>
                <InputTextArea class="w3-input" id="Descripcion" @bind-Value="_addmodel.descripcion" rows="3"/>
            </div>
            <br ><br>
            <button type="submit" class="btn btn-primary">Añadir</button>

        </EditForm>
    </div>
</div>
@code {
    public partial class AddModel
    {
        [Inject]
        private IHttpClientFactory ClientFactory { get; set; }
        private addModelDTO _addmodel { get; set; } = new addModelDTO();

        public void Enviar()
        {
            var client = new RestClient("http://localhost:7014");
            var request = new RestRequest("/api/turismo", Method.Post);
            request.AddParameter("destino", _addmodel.name);
            request.AddParameter("foto", _addmodel.foto);
            request.AddParameter("descripcion", _addmodel.descripcion)                                                    ;
            request.AddParameter("region", _addmodel.region);
            var response = client.Execute(request);
        }
    }
}
*@