@page "/destinos"
@using RestSharp

<PageTitle>Destinos</PageTitle>

<div class="menu-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>Destinos Turisticos</h2>
						
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="special-menu text-center">
					<div class="button-group filter-button-group">
						<button class="active" data-filter="*">Todas</button>
						<button data-filter=".norte">Norte</button>
						<button data-filter=".sur">Sur</button>
						<button data-filter=".este">Este</button>
					</div>
				</div>
			</div>
		</div>
				
		<div class="row special-list">

			<div class="col-lg-4 col-md-6 special-grid entradas">
				<div class="gallery-single fix">
					<img src="images/img-03.jpg" class="img-fluid" alt="Egg Roll de Vegetales">
					<div class="why-text">
						<h4>Egg Roll de Vegetales</h4>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

@code{
	private string? message;
	private addModelDTO[]? data;

	protected override void OnInitialized()
	{
		var client = new RestClient("http://localhost:7014");
		var request = new RestRequest("/api/Turismo", Method.Get);

		var response = client.Execute(request);
		//data = ;
	}
}