@using TDSFinal.Data;
@page "/"

<PageTitle>Anuncios</PageTitle>

    <div id="slides" class="cover-slides">
        <ul class="slides-container"> 
            @{
                Dictionary<string, string> ProvinciasTuristicas = new Dictionary<string, string>()
                {
                    {"Bani Playa Salinas.jpg", "Sur"},{"Bonao Salto de Jima.jpg", "Norte"},{"Santiago de los Caballeros Monumeto.jpg", "Norte"}
                };
            }
            @foreach (var i in ProvinciasTuristicas) {
                <li class="text-center">
                    <img src="Imagenes/Anuncios/@i.Key" alt="@i.Key">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20"><strong>Provincia <br /> @i.Value</strong></h1>
                                <p class="m-b-40">Probando que funcione.</p>
                                <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="mexicano">Ver Provincia</a></p>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div class="slides-navigation slide">
            <a href="#" class="next" id="next-button"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev" id="previous-button"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="about-section-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="Imagenes/duroVertical.jfif" alt="TurismoRD" class="img-fluid">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                    <div class="inner-column">
                        <h1>BIENVENIDOS AL SITIO OFICIAL<span> DE TURISMO DE REPÚBLICA DOMINICANA.</span></h1>
                        <br>
                        <h4>Descripcion del país</h4>
                        <p>República Dominicana es el segundo país más grande y más diverso del Caribe. Con vuelos directos desde las principales ciudades de Latinoamérica, Estados Unidos, Canadá y Europa es un país que se destaca por la calidez de su clima y la hospitalidad de su gente. República Dominicana es un destino sin igual que cuenta con una naturaleza extraordinaria, fascinante historia y gran riqueza cultural.</p>

                        <p>Rodeada por el Océano Atlántico hacia el Norte y el Mar Caribe hacia el Sur, República Dominicana se enorgullece de contar con más de 1,600 Km. de costa y 400 Km. de las mejores playas del mundo, magníficos hoteles y resorts, e infinidad de opciones en deportes, entretenimiento y recreación. Aquí puedes bailar al ritmo contagioso del merengue, renovarte en nuestros lujosos y variados hoteles, explorar antiguas ruinas,  deleitarte con la mejor gastronomía dominicana, o vivir aventuras ecoturísticas en nuestros magníficos parques naturales, cordilleras, ríos y playas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  