@page "/"

<PageTitle>Anuncios</PageTitle>

    <div id="slides" class="cover-slides">
        <ul class="slides-container"> 
            @{
                Dictionary<string, string> ProvinciasTuristicas = new Dictionary<string, string>()
                {
                    {"Bani Playa Salinas.jpg", "Sur"},{"Bonao Salto de Jima.jpg", "Norte"},{"Santiago de los Caballeros Monumeto.jpg", "Norte"}
                };
                }
            @foreach (var i in ProvinciasTuristicas) {
                <li class="text-center">
                    <img src="Imagenes/Anuncios/@i.Key" alt="@i.Key">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20"><strong>Provincia <br /> @i.Value</strong></h1>
                                <p class="m-b-40">Probando que funcione.</p>
                                <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="mexicano">Ver Provincia</a></p>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div class="slides-navigation slide">
            <a href="#" class="next" id="next-button"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev" id="previous-button"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>


            @*<li class="text-center">
                <img src="Imagenes/slider-01.jpg" alt="Informacion">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Bienvenido a <br /> el Cortijo</strong></h1>
                            <p class="m-b-40">Aqui podra encontrar el menu de la casa <br /> junto a informacion sobre nosotros.</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="Imagenes/slider-mexicana.jpg" alt="Comida Mexicana">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Comida <br /> Mexicana</strong></h1>
                            <p class="m-b-40">Comida mexicana, bajo la dirección del Chef Niño, pionero en RD.</p>
                            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="mexicano">Ver carta</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="Imagenes/slider-japones.jpg" alt="Comida  Jairo">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Comida <br /> Japonesa</strong></h1>
                            <p class="m-b-40"> Nuevo en nuestro menú, comida japonesa.</p>
                            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="japones">Ver carta</a></p>
                        </div>
                    </div>
                </div>
            </li>*@

    </div>